.site{
	margin-left: 30px;
}

.card {
	width: 30%;
	height: 675px;
	border: 1px solid;
	border-color: lightblue;
	display: block;
	float:left;
	margin: 8px;
}

.title {
	font-size: 20px;
}

header {
	text-align: center;
	border: 1px dotted;
}

.img {
	text-align: center;
}

.img img {
	height: 200px;
}

.macmini img{
	width: 200px;
	height: 100px;
	padding: 50px;
}

.description {
	text-align: justify;
	font-size: 12px;
}

.description p{
	margin: 0;
}

.specification {
	font-weight: bold;
	font-size: 12px;
}

.specification p {
	font-size: 9px;
}

.specification div p {
	margin: 0;
}

h3 {
	margin: 0;
}

.pricing {
	font-weight: bold;
	font-size: 12px;
}

.pricing p {
	font-size: 9px;
}

.pricing div p, {
	margin: 0;
}

.availability {
	background-color: darkgrey;
	height: 17px;
	margin: 10px 0;
}

.availability p {
	color: yellow;
	font-size: 14px;
}
